<?xml version="1.0" encoding="utf-8"?><Settings><MapSetup><map_n_district_x>2</map_n_district_x><map_n_district_y>2</map_n_district_y><n_entities>100</n_entities><n_bus_lines>0</n_bus_lines><frequency_district_0>1</frequency_district_0><frequency_district_1>1</frequency_district_1><frequency_district_2>1</frequency_district_2><frequency_district_3>1</frequency_district_3><max_starvation_time>8</max_starvation_time></MapSetup><MapSpawner><maxCarSpeed>4</maxCarSpeed><maxBusSpeed>4</maxBusSpeed><minimumTrafficLightTime>2</minimumTrafficLightTime><maximumTrafficLightTime>4</maximumTrafficLightTime></MapSpawner><MapVisual><differentTypeOfVehicles>1</differentTypeOfVehicles></MapVisual></Settings>