<?xml version="1.0" encoding="utf-8"?><Settings><MapSetup><map_n_district_x>1</map_n_district_x><map_n_district_y>1</map_n_district_y><n_entities>10</n_entities><n_bus_lines>4</n_bus_lines><frequency_district_0>1</frequency_district_0><frequency_district_1>0</frequency_district_1><frequency_district_2>0</frequency_district_2><frequency_district_3>0</frequency_district_3></MapSetup><MapSpawner><maxCarSpeed>3</maxCarSpeed><maxBusSpeed>3</maxBusSpeed></MapSpawner><MapVisual><differentTypeOfVehicles>4</differentTypeOfVehicles></MapVisual></Settings>
